PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/trabalho2?schema=public
AUTH_USERNAME=docente
AUTH_PASSWORD=123456
AUTH_STUDENT_USERNAME=aluno
AUTH_STUDENT_PASSWORD=123456
JWT_SECRET=trocar-este-segredo-no-ambiente
